{{> default/header }}

<body>

    <!-- Navigation -->
    {{> default/top-navigation }}

    <!-- Page Content -->
    {{> default/messages}}

    {{{ body }}}

    <!-- /.container -->
    {{> default/footer }}
</body>
