<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{user.bio}}">
    <meta name="author" content="{{user.firstName}} {{user.lastName}}">

    <title>Geeky Ahmed</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css">

<!-- Theme Style -->
<link rel="stylesheet" href="/css/style.css">

</head>
