<!DOCTYPE html>
<html lang="en">

<head>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#764ABC" />
    <meta charset="utf-8">
  <meta name="fragment" content="!">
  <link rel=icon sizes=192x192 href="/assets/logo-192.png">
  <meta name="theme-color" content="#0099ff" />
  <link rel="manifest" href="/manifest.json">  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Geeky Codes">
<meta property="og:description" content="An OpenSource mini blogging platform for sharing web development articles.">
<meta property="og:image" content="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Brown'">
<meta property="og:url" content="https://geekyblog-69d8c-7cc56.web.beta.kintohub.com/">
<meta name="twitter:card" content="summary_large_image">


<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="Geeky Codes Blog">
<meta name="twitter:image:alt" content="Alt text for image">


<!--  Non-Essential, But Required for Analytics -->

<meta property="fb:app_id" content="your_app_id" />
<meta name="twitter:site" content="@website-username">
<script src="https://cdn.tiny.cloud/1/x9jajs8c7io79fjntsajqyr85pixcx3d9oaak5zg54nzyauz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
tinymce.init({
 selector: 'textarea',
 toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
 toolbar_mode: 'floating',
 tinycomments_mode: 'embedded',
 tinycomments_author: 'Author name',
});
  </script>
    <title>Geeky Codes</title>
    <link rel="icon" href="/images/avatarc.png" type="image/png" sizes="16x16">

<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css">

<!-- Theme Style -->
<link rel="stylesheet" href="/css/style.css">
    <script>
    
    // ServiceWorker Registration
    if('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/sw.js').then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
                
            }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
    
    </script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall"></script>
    <pwa-install></pwa-install>
</head>
