<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">


        <!-- ============================================================== -->
        <!-- basic form  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-block" id="basicform">
                </div>
                <div class="card">
                    <h5 class="card-header">Create Post</h5>
                    <div class="card-body">
                        <form action="/admin/posts/create" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="title" class="col-form-label">Title</label>
                                <input id="title" type="text" name="title" class="form-control">
                            </div>
                            <div class="custom-file mb-3 mt-3">
                                <input type="file" name="uploadedFile"
                                    accept="image/jpeg, image/jpg, image/png, image/bmp" class="custom-file-input"
                                    id="file">
                                <label class="custom-file-label" for="customFile"> Cover Image</label>
                            </div>
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select name="status" id="status" class="form-control">
                                    <option value="public">Public</option>
                                    <option value="private">Private</option>
                                    <option value="draft">Draft</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tag" class="col-form-label">Tag</label>
                                <input id="tag" type="text" name="tag" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="category">Category</label>
                                <select name="category" id="category" class="form-control">
                                    {{#each categories}}
                                    <option value="{{_id}}">{{title}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="mytextarea" name="description" rows="3"></textarea>
                            </div>
                            <div class="form-check ml-3">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" name="allowComments" id="allowComments"
                                        class="custom-control-input"><span class="custom-control-label">Allow
                                        Comments</span>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Publish Article</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
