{{!-- <form action="/admin/savesettings">
    <div class="form-group">
        <label for="">Post Limit</label>
        <input name="post_limit" type="text" class="form-control">
    </div><input type="submit" class="btn btn-info">
</form> --}}
<div class="page-container2">
    <!-- HEADER DESKTOP-->


    <div class="container">


        <h3 class="alert alert-dark p-3 text-dark text-center">All Categories </h3>


        <div class="row">

            <hr>

            <div class="row p-4">
                <div class="col-md-8">
                    <div class="form-group">
                        <form action="/admin/savesettings" method="POST">
                            <label for="title">Post Limit</label>
                            <input name="postlimit" type="text" class="form-control" i placeholder="Enter Title">
                    </div>
                    <button class="btn btn-outline-success btn-lg" type="submit">Save</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>