<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Area</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
  <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
  <link rel="stylesheet" href="/assets/vendor/charts/morris-bundle/morris.css">
  <link rel="stylesheet" href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css">
  <link rel="stylesheet" href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">


</head>
<style>
    body {
        background-color: white;
    }
</style>
